figures/pcp_harvest5_harvest25.png
figures/pcp_harvest5_npv.png
figures/pcp_harvest5_stock.png
figures/pcp_harvest25_npv.png
figures/pcp_harvest25_stock.png
figures/pcp_npv_stock.png
figures/scatter_harvest5_harvest25.png
figures/scatter_harvest5_npv.png
figures/scatter_harvest5_stock.png
figures/scatter_harvest25_npv.png
figures/scatter_harvest25_stock.png
figures/scatter_npv_stock.png
figures/something_npv_stock.png
